<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tool_Rental.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tool_Rental.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
  <connectionStrings>
    <add name="ConnectionString"
         connectionString="Data Source =  DESKTOP-OSHCG83;&#xD;&#xA;                           Initial Catalog = TR_Win_Tools;&#xD;&#xA;                           Integrated Security = True;"


         providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <userSettings>
    <Tool_Rental.Properties.Settings>
      <setting name="ColorTheme" serializeAs="String">
        <value />
      </setting>
    </Tool_Rental.Properties.Settings>
  </userSettings>
  <applicationSettings>
    <Tool_Rental.Properties.Settings>
      <setting name="ProjectName" serializeAs="String">
        <value>Tool Rentals</value>
      </setting>
    </Tool_Rental.Properties.Settings>
  </applicationSettings>
</configuration>